In [1]:
import pandas as pd

In [2]:
tiemposDF = pd.read_csv("DATASET/tiempos_viaje_estrato_socioeconomico_2017_65.csv")
tiemposDF.head()

  Estrato socioecómico Población  Tiempo promedio de viaje
0                 Bajo   General                        88
1           Medio bajo   General                        57
2           Medio alto   General                        46
3                 Alto   General                        49
4                 Bajo   Hombres                       102

In [3]:
# Print info
print('Tipo de datos')
print(type(tiemposDF))

print('Columnas del shape')
print(tiemposDF.columns)

print('SHAPE')
print(tiemposDF.shape)

print('Info')
print(tiemposDF.info())

Tipo de datos
<class 'pandas.core.frame.DataFrame'>
Columnas del shape
Index(['Estrato socioecómico', 'Población', 'Tiempo promedio de viaje'], dtype='object')
SHAPE
(12, 3)
Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Estrato socioecómico      12 non-null     object
 1   Población                 12 non-null     object
 2   Tiempo promedio de viaje  12 non-null     int64
dtypes: int64(1), object(2)
memory usage: 416.0+ bytes
None

In [4]:
tiemposDF

   Estrato socioecómico Población  Tiempo promedio de viaje
0                  Bajo   General                        88
1            Medio bajo   General                        57
2            Medio alto   General                        46
3                  Alto   General                        49
4                  Bajo   Hombres                       102
5            Medio bajo   Hombres                        64
6            Medio alto   Hombres                        51
7                  Alto   Hombres                        54
8                  Bajo   Mujeres                        70
9            Medio bajo   Mujeres                        49
10           Medio alto   Mujeres                        42
11                 Alto   Mujeres                        45